
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <label>@ViewBag.Message</label>

    <h2>Parola Resetleme Ekranı</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("Email", null, new { @class = "form-control", @placeholder = "E-Posta adresiniz" })
        <br />
        <div class="g-recaptcha" data-sitekey="6LcSmTMUAAAAAIjsXyNT5y0iSJtY-UwRyW8Q2IgM"></div>
            <input type="submit" class="btn btn-primary" name="name" value="Parola Resetleme Kodu Gönder" />
    }

