
@{
    ViewBag.Title = "AddBlog";
}


    @using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("blogName", null, new { @placeholder = "Makale Adi" })
        @Html.TextArea("blogContent", null, new { @class = "ckeditor" })

        //@Html.DropDownList("listPCategory", (List<SelectListItem>)ViewBag.PCategories, new { @onchange = "Change()" })

        @Html.TextBox("blogImage", null, new { @type = "file", @id = "upload-product", @name = "photo", @multiple = false, @class = "btn btn-info" })
        <label for="upload-product" class="btn btn-info" style="background-color: #607D8B; border-color: #607D8B;">Resmi Seç</label>

        <input type="submit" class="btn btn-default filter-col" name="name" value="Kaydet">
    }

