
@{
    Layout = null;
}

@using MVCOdev.Data
@model Urunler

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
<div>
    Kategori Adi : @Model.urunAd
    Açıklaması : @Model.urunFiyat
</div>
</body>
</html>
