
@{
    Layout = null;
}
@using MVCOdev.Data
@model Urunler


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
<div>
    Kategorisi : @Model.urunAd
    Açıklması : @Model.urunFiyat

</div>
</body>
</html>
