
@{
    Layout = null;
}

@using MVCOdev.Data
@model List<Urunler>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Panel</title>
</head>
<body>
<div>
    
    <a href="/Product/List">Urun Islemleri</a>

</div>
</body>
</html>
